stages:
  - build
  - docs
  - release

variables:
  BUILD_OUTPUT_DIR: 'build'
  VERSION_REGEX: '/^v\d+\.\d+\.\d.*/'

build:
  stage: build
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_TAG =~ $VERSION_REGEX
    - when: manual
      allow_failure: true
    - when: never
  # if you want to change the toolchain settings
  before_script:
    - toolchain_config arm-none-eabi-gcc 11.2.1
  script:
    - ./build.sh
    # if you want to Build Packages
    # - (cd ${BUILD_OUTPUT_DIR} && cpack)
  artifacts:
    paths:
      - ${BUILD_OUTPUT_DIR}

build:docs:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_REGEX
    - when: manual
      allow_failure: true
    - when: never
  script:
    - ./build_docs.sh
  artifacts:
    paths:
      - ${BUILD_OUTPUT_DIR}

pages:
  stage: docs
  needs:
    - job: build:docs
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_REGEX
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: on_success
    - when: never
  script:
    - if [ -d public ]; then mv public .public; fi
    - mv ${BUILD_OUTPUT_DIR}/docs/html public
  artifacts:
    paths:
      - public

release:prepare:
  stage: release
  needs:
    - job: build
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_REGEX
  variables:
    GIT_DEPTH: 0
  script: |
    PREVIOUS_TAG=$(git fetch --prune --prune-tags &> /dev/null; git tag --list 'v[0-9]*' --sort=-v:refname --no-contains | head -1)
    if [ "${PREVIOUS_TAG}" ]; then GIT_RANGE="${PREVIOUS_TAG}..${CI_COMMIT_TAG}"; fi;
    git cliff ${GIT_RANGE} -o CHANGELOG.md

    cat << EOF > job.env
    JOB_ARTIFACTS_URL=${CI_JOB_URL}/artifacts
    DEB_FILE=$(cat ${BUILD_OUTPUT_DIR}/CPackConfig.cmake | awk -v word="CPACK_DEBIAN_FILE_NAME" '$0 ~ word { match($0, /".*"/); print substr($0, RSTART+1, RLENGTH-2) }').deb
    RPM_FILE=$(cat ${BUILD_OUTPUT_DIR}/CPackConfig.cmake | awk -v word="CPACK_RPM_FILE_NAME" '$0 ~ word { match($0, /".*"/); print substr($0, RSTART+1, RLENGTH-2) }').rpm
    EOF
  artifacts:
    expire_in: never
    paths:
      - ${BUILD_OUTPUT_DIR}
      - CHANGELOG.md
      - job.env
    reports:
      dotenv: job.env

release:create:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: release:prepare
  rules:
    - if: $CI_COMMIT_TAG =~ $VERSION_REGEX
  script:
    - echo "Create ${CI_COMMIT_TAG} Release"
  release:
    tag_name: $CI_COMMIT_TAG
    name: 'Release ${CI_COMMIT_TAG}'
    description: CHANGELOG.md
    assets:
      links:
        - name: 'Browse Build Output'
          url: ${JOB_ARTIFACTS_URL}/browse/${BUILD_OUTPUT_DIR}
        # if you want to download the specific file
        # - name: 'Build Result'
        #    url: ${JOB_ARTIFACTS_URL}/raw/${BUILD_OUTPUT_DIR}/Build_Result
        # if you want to download the package files
        # - name: ${DEB_FILE}
        #   url: ${JOB_ARTIFACTS_URL}/raw/${BUILD_OUTPUT_DIR}/${DEB_FILE}
        # - name: ${RPM_FILE}
        #   url: ${JOB_ARTIFACTS_URL}/raw/${BUILD_OUTPUT_DIR}/${RPM_FILE}

